/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* // Custom Styles // */
.flex {
    display: flex;
    justify-content: space-around;
}
.flex-justify-vetically-center {
    align-items: center;
}

.flex2 {
    flex-wrap: wrap;
}

body {
    text-align: center;
    padding: 32px;
    max-width: 350px;
    margin: 0 auto;
}

h1 {
    font-size: 45px;
    margin-bottom: 20px;
}

.calc {
    width: 100%;
}
.total {
    background-color: black;
    color: white;
    width: 100%;
    padding: 20px 0;
    text-align: right;
    padding-right: 10px;
    border-radius: 10px;
    font-size: 32px;
    margin-top: 10px;
}

.operation {
    background-color: brown;
    color: white;
    width: 23%;
    border-radius: 5px;
    height: 50px;
    margin-top: 20px;
    font-size: 32px;
}
/* .numbers {
    height: 300px;
} */

.number {
    background-color: #CFCFCF;
    color: white;
    width: 50px;
    border-radius: 8px;
    height: 50px;
    font-size: 32px;
    padding: 5px;
    margin: 10px 0;
}
.c-clr {
    background-color: #3D1B10;
}
.operatins-all {
    margin-top: 32px;
}
.equalto {
    background-color: #018080;
    color: white;
    width: 70%;
    margin-left: 35px;
    border-radius: 8px;
    font-size: 32px;
}


.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
body {
    background-color: #018080;
}

.box {
    height: 300px;
    width: 300px;
    margin: 10px;
    background-color: white;

}